<!-- <ion-header>
  <ion-toolbar>
    <h2>1. Nav</h2>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>2. Toggles</h2>
  <ion-toggle>Default Toggle</ion-toggle><br /><br />
  <ion-toggle [checked]="true">Checked Toggle</ion-toggle><br /><br />
  <ion-toggle [disabled]="true">Disabled Toggle</ion-toggle><br /><br />
  <ion-toggle [checked]="true" [disabled]="true">Disabled Checked Toggle</ion-toggle>

  <hr />

  <h2>3. Accordion Group</h2>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>First Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">First Content</div>
    </ion-accordion>
    <ion-accordion value="second" [readonly]="true">
      <ion-item slot="header" color="light">
        <ion-label>Second Accordion (Readonly)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Second Content</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Third Accordion</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Third Content</div>
    </ion-accordion>
  </ion-accordion-group>

  <hr />

  <h2>4. Action Sheet</h2>
  <div class="container">
    <ion-button id="open-action-sheet">Open Action Sheet</ion-button>
    <ion-action-sheet
      trigger="open-action-sheet"
      header="Example header"
      subHeader="Example subheader"
      [buttons]="actionSheetButtons"
      (didDismiss)="logResult($event)"
    ></ion-action-sheet>
  </div>

  <hr />

  <h2>5. Alert with Inputs</h2>
  <ion-button id="present-alert">Click Me</ion-button>
  <ion-alert
    trigger="present-alert"
    header="Please enter your info"
    [buttons]="alertButtons"
    [inputs]="alertInputs"
  ></ion-alert>

  <hr />

  <h2>6. Breadcrumbs</h2>
  <ion-breadcrumbs color="primary">
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    <ion-breadcrumb href="#electronics">Electronics</ion-breadcrumb>
    <ion-breadcrumb href="#cameras">Cameras</ion-breadcrumb>
    <ion-breadcrumb href="#film">Film</ion-breadcrumb>
  </ion-breadcrumbs>

  <hr />

  <h2>7. Icon Buttons</h2>
  <ion-button>
    <ion-icon slot="icon-only" name="heart"></ion-icon>
  </ion-button>
  <ion-button shape="round">
    <ion-icon slot="icon-only" name="musical-note"></ion-icon>
  </ion-button>

  <hr />

  <h2>8. Card</h2>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <hr />

  <h2>9. Checkbox</h2>
  <ion-checkbox>Themed checkbox</ion-checkbox>

  <div style="height: 100px;"></div> </ion-content>


  
  <ion-tab-bar color="light">
    <h2>10. Tab Bar</h2>
    <ion-tab-button tab="1">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorites</ion-label>
      <ion-badge color="danger"></ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="2">
      <ion-icon name="musical-note"></ion-icon>
      <ion-label>Music</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="3">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Calendar</ion-label>
      <ion-badge color="danger">47</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-footer>
    
  <ion-toolbar>
    <h2>1.2 Footer Toolbar</h2>
  </ion-toolbar>
</ion-footer> -->